/*----------------------
         RESET          
-----------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*----------------------
        GENERAL         
-----------------------*/
body {
  background-color: #99ee77;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

ul,
form {
  border: 5px solid #00bd79;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

form,
li {
  background-color: #c2ffea;
}

/*----------------------
         TYPO        
-----------------------*/
body {
  font-family: "Mynerve", serif;
  font-weight: 300;
}

.card h3 {
  font-size: 25px;
}

#postContent,
.card u {
  font-family: "Lunasima", serif;
}

h1 {
  font-size: 30px;
  padding: 15px 0px;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  color: #001911;
  background-color: #00bd79;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*----------------------
         LIST         
-----------------------*/
.listContainer h1 {
  position: sticky;
  top: 20px;
}

ul {
  list-style: none;
  max-width: 600px;
  overflow: hidden;
}

.cardContainer {
  background-color: #00bd79;
  padding: 10px;
}

li {
  padding: 8px;
  border-radius: 20px;
}

li strong {
  font-size: 18px;
}

li u {
  color: #03895a;
  text-transform: uppercase;
}

.notAvaible {
  color: #cf111c;
}

.prodTags {
  display: flex;
}

.prodTags p {
  padding-right: 6px;
  text-transform: lowercase;
}

.imgPost {
  max-width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}

button {
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 15px;
  border: 1px solid #cf111c;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #cf111c;
  cursor: pointer;
}

.listContainer .cardContainer:last-of-type button {
  margin-bottom: 0px;
}

.btnTitle {
  display: none;
}

button:hover {
  background-color: #cf111c;
  color: #ffffff;
  transition: 1s;
}

button:hover .btnTitle {
  display: inline;
}

/*----------------------
         FORM      
-----------------------*/
.formContainer {
  position: sticky;
  top: 0;
}
form {
  width: 300px;
  padding: 20px;
}

#title,
#content,
#tags,
#image {
  width: 100%;
}

form input,
select,
textarea {
  margin-bottom: 20px;
}

form select {
  margin-right: 10px;
}

form .subBtn {
  margin-top: 15px;
  color: #001911;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #03895a;
}

.subBtn:hover {
  background-color: #03895a;
  color: #ffffff;
  cursor: pointer;
}

#public {
  padding: 8px;
}
